.upload-publication-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: -160px;
}

.upload-publication-form {
    display: grid;
    grid-template-columns: 2fr 3fr; 
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    background-color: #ffffff;
    border: 1px solid #bfbfbf;
    border-radius: 12px;
    padding: 40px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.upload-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.upload-main-image {
    width: 100%;
    max-width: 400px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    color: #bfbfbf;
    border: 2px dashed #dcdcdc;
}

.upload-thumbnail-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.upload-thumbnail {
    width: calc(100% / 2 - 5px);
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #bfbfbf;
    border: 2px dashed #dcdcdc;
}

.upload-instructions {
    text-align: center;
    font-size: 14px;
    color: #616161;
    margin-top: 10px;
}

.form-fields {
    display: flex;
    flex-direction: column; 
    gap: 18px;
    margin-left: 45px;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.form-field label {
    font-size: 14px;
    font-weight: bold;
    color: #061835;
}

.form-field input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #bfbfbf;
    border-radius: 8px;
    background-color: #f7f7f7;
    outline: none;
    transition: border-color 0.3s ease;
}

.form-field input:focus {
    border-color: #20bce7;
}

.submit-button {
    margin-top: 20px;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background: linear-gradient(to right, #ec12e5, #20bce7);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    align-self: flex-end;
}

.submit-button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
